.request-form {
    &__field {
        display: flex;
        align-items: stretch;
        &--vertical {
            flex-direction: column;
            align-items: flex-start;
            .request-form__input {
                padding-top: 11px;
                padding-bottom: 11px;
                width: 100%;
                max-width: 225px;
                margin-bottom: 11px;
            }
            .request-form__button {
                margin-left: 0;
            }
        }
    }
    &__input {
        background-color: rgb(230, 223, 217);
        border-radius: 9px;
        border: none;
        padding-left: 6px;
        width: 200px;
        @media (min-width: 576px) {
            width: 245px;
        }
    }
    &__button {
        text-transform: uppercase;
        margin-left: 5px;
    }
}
  