.contacts-block {
    &__address {
        margin-bottom: 26px;
    }
    &__text {
        font-size: 14px;
        margin-bottom: 7px
    }
    &__communications {

    }
    &__item {
        font-size: 14px;
        margin-bottom: 7px;
    }
}